*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# svn:ignore properties from jbrofuzz.sf.net
.classpath
.fbprefs
.metadata
.pmd
.project
.settings
RemoteSystemsTempFiles
bak
bin
classes
doc
documents
findbugs
jbrofuzz
jbrofuzz.jpx
jbrofuzz.jpx.local
jbrofuzz.oif
lib.old
release
releases
screenshots

jar/*.jbrf
jar/*.jbrofuzz
jar/*.msi
jar/*.zip
jar/HelloCrossFuzzer.class
jar/HelloCrossFuzzer.java
jar/HelloDoubleFuzzer.class
jar/HelloDoubleFuzzer.java
jar/HelloFuzzer.java
jar/HelloPowerFuzzer.class
jar/HelloPowerFuzzer.java
jar/JBroFuzz.exe
jar/jbrofuzz
jar/jssecacerts
jar/jbrofuzz-core-2.4.jar
jar/JBroFuzz.jar
jar/JBroFuzzEncoder.jar
jar/JBroFuzzHeader.jar
jar/JBroFuzzEncoder.exe
jar/JBroFuzzHeader.exe

release/*.msi
release/Thumbs.db
release/jbrofuzz-cache
release/jbrofuzz.back.aip
release/jbrofuzz.msi

src/org/owasp/jbrofuzz/core/core-uml-class-diagram.ucls
